#head{
    display:grid;
    width:100%;
    height:100%;
    grid-template-columns:1fr 1fr;
    padding:3px 0px;
}

#head div{
    text-align: center;
    color: white;
}
.hover-bottom:hover{
    border-bottom: 2px inset rgb(69, 0, 75);
}
