#profile-page{
    padding: 0 10px;
    display: grid;
    grid-template-columns: minmax(300px,80%);
    grid-template-rows:200px repeat(3,70px) minmax(70px,max-content);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


#img{
    background-color: black;
    width: 150px;
    height: 150px;
    border-radius:50% ;
    margin: auto;
}

.cont{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    border-bottom: 2px solid brown;
    margin: auto;
}

.cont h5,.cont span{
    display: block;
    min-width: 100px;
    width: 100%;
    word-wrap: break-word;
}