#card{
    display:flex;
    align-items: center;
    width:100%;
    border-bottom: 3px dashed #1b3690;
    height:50px;
}

#pic{
    width:20px;
    height:20px;
    background-color:black;
    border-radius:50%;
    margin:0 5px;
    box-shadow: 0px 0px 10px  rgba(255, 255, 255, 0.457);
}

#name{
    margin: 0 10px;
}

#mscount{
    color: white;
    background-color: black;
}