#log{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
}
#log form{
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color: #02052e;
    padding: 30px 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 8px #00000045
}

#log form div,#log  form button{
    margin: 10px 0;
}
#log form div label{
    display: inline-block;
    width: 90px;
}