main{
    display: flex;
    margin-top:50px;
    position: relative;
}


#side-bar{
    flex-grow: 1;
    min-width: 300px;
    flex-shrink: 1;
    z-index: 1  ;
    height: 600px;
    background-color: rgb(167, 167, 167);
    overflow-y: auto;
}

#main-bar{
    flex-basis:500px ;
    min-width: 200px;
    flex-grow: 5;
    flex-shrink: 1;
    height: 600px;
    border: 1px solid black;
}