main{
    display: flex;
    margin-top:50px;
    position: relative;
}


#side-bar{
    flex-grow: 1;
    min-width: 300px;
    flex-shrink: 1;
    z-index: 1  ;
    min-height: 600px;
    border: 1px solid black;
    background-color: black;
}

#main-bar{
    flex-basis:500px ;
    min-width: 200px;
    flex-grow: 5;
    flex-shrink: 1;
    min-height: 600px;
    border: 1px solid black;
}