nav{
    color: white;
    background: url(https://www.toptal.com/designers/subtlepatterns/uploads/carbon_fibre.png) black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 41.6px;
}

#links{
    display: flex;
    align-items: center;
}

#ham{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    height: 41.6px;
    justify-content: center;
}

#ham span{
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 4px;
}

#links ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: url(https://www.toptal.com/designers/subtlepatterns/uploads/carbon_fibre.png) black;
    z-index: 2;
}

#links ul li{
    list-style: none;
    margin: 0 10px;
    text-align: center;
}

#links ul li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 100%;
}

#links ul li a:hover{
    color: black;
    background-color: white;
}
