nav{
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 41.6px;
}

#links{
    display: flex;
    align-items: center;
    height: 100%;
}

#ham{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    height: 41.6px;
    justify-content: center;
}

#ham span{
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 4px;
}

#links ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background:black;
    z-index: 2;
}

#links ul li{
    list-style: none;
    margin: 0 10px;
    text-align: center;
}

#links ul li a{
    display: block;
    text-decoration: none;
    padding: 11px 10px;
    width: 100%;
    height: 41.6px;
}

#links ul li a:hover{
    color: black;
    background-color: white;
}

.show{
    position:absolute!important;
	flex-direction:column;
	display: block !important;;
	width:100vw;
	align-items:stretch !important;
	padding:10px 0px;
}

.none{
    display: none!important ;
}